*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body
{
 width: 100%;
 height: 100vh;
 background: #1c3a7e;
 font-family: 'roboto', 'san-serif';
 display: flex;
 justify-content: center;
 align-items: center;
}
.card
{
 width: 754px;
 height: 754px;
 border-radius: 20px;
 /* overflow: hidden; */
 overflow: hidden;
 border: 8px solid #fff;
 position: relative;
}
.card-img
{
 width: 100%;
 height: 100%;
 object-fit: cover;
 border-radius: 15px;
}
.card-body
{
 width: 100%;
 height: 100%;
 top: 0;
 /* right: 0; */
 right: -100%;
 position: absolute;
 background: #1c397e62;
 backdrop-filter: blur(5px);
 border-radius: 15px;
 color: #fff;
 padding: 50px;
 /* */
 display: flex;
 flex-direction: column;
 justify-content: center;
 /* */
 transition: 2s;
}
.card:hover .card-body{
  right: 0;
}

.card-title
{
 text-transform: uppercase;
 font-size: 45px;
 font-weight: 500;
}
.card-subtitle
{
 text-transform: capitalize;
 font-size: 24px;
 font-weight: 500;
}
.card-info
{
 font-size: 18px;
 line-height: 26px;
 margin: 25px;
 font-weight: 400;
}
.card-button
{
 color: #1f3d47;
 background: #b9d4e2;
 padding: 10px 20px;
 border-radius: 5px;
 text-transform: capitalize;
 border: none;
 outline: none;
 font-weight: 500;
 cursor: pointer;
 font-size: medium;
 /* */
 width: 190px;
}
